<li class='clearfix record <%= cycle("on", "on-hover") %>'>
  <span class='title'>
    <%= link_to event_inquiry.name, admin_event_inquiry_url(event_inquiry) %> <%= t('.said') %>
    <span class="preview"><%= truncate(strip_tags(event_inquiry.message), :length => 60) -%></span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'), admin_event_inquiry_url(event_inquiry),
              { :method => :delete, 
                :confirm => t('shared.admin.delete.message', :title => event_inquiry.name) },
                :class => "cancel confirm-delete",
                :title => t('admin.event_inquiries.delete') -%>

    <%= link_to refinery_icon_tag('zoom.png'), admin_event_inquiry_url(event_inquiry),
                :title => t('.read_event_inquiry') -%>

    <% if event_inquiry.spam? %>
      <%= link_to refinery_icon_tag('email.png'), toggle_spam_admin_event_inquiry_url(event_inquiry),
                  :title => t('.mark_as_ham') -%>
    <% else %>
      <%= link_to refinery_icon_tag('bin_closed.png'), toggle_spam_admin_event_inquiry_url(event_inquiry),
                  :title => t('.mark_as_spam') -%>
    <% end %>
  </span>
</li>
