<div id='actions'>
  <h2><%= t('.details')%></h2>
  <p>
    <strong><%= t('.age') %>:</strong> <%= time_ago_in_words(@event_enquiry.created_at) %>
  </p>
  <% if @event_enquiry.spam? %>
    <p>
      <strong><%= t('.spam') %>:</strong> <%= t('.spam_yes') %>
    </p>
  <% end %>
  <h2><%= t('.actions') %></h2>
  <ul>
    <li>
      <%= link_to t('.back_to_all_event_inquiries'), {:action => 'index'}, :class => "back_icon" %>
    </li>
    <li>
      <%= link_to t('admin.event_inquiries.delete'),
                  admin_event_enquiry_url(@event_enquiry),
                  :class => 'delete_icon no-tooltip confirm-delete',
                  :title => t('admin.event_inquiries.delete'),
                  :confirm => t('shared.admin.delete.message', :title => @event_enquiry.name),
                  :method => :delete %>
    </li>
  </ul>
</div>
<div id='records'>
  <h2><%= t('.event_enquiry') %></h2>
  <table id='event_enquiry'>
    <tr>
      <td>
        <strong><%= t('.to') %></strong>
      </td>
      <td>
        <%= RefinerySetting[:site_name] %>
      </td>
    </tr>
    <tr>
      <td>
        <strong><%= t('.from') %></strong>
      </td>
      <td>
        <%= @event_enquiry.name %> [<%= mail_to @event_enquiry.email, @event_enquiry.email, {:title => t('.click_to_email')} %>]
      </td>
    </tr>
    <% unless @event_enquiry.phone.blank? %>
      <tr>
        <td>
          <strong><%= t('.phone') %></strong>
        </td>
        <td>
          <%= @event_enquiry.phone %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td>
        <strong><%= t('.date') %></strong>
      </td>
      <td>
        <%= l(Date.parse(@event_enquiry.created_at.to_s), :format => :long) %>
      </td>
    </tr>
    <tr>
      <td valign='top'>
        <strong><%= t('.message') %></strong>
      </td>
      <td>
        <%= simple_format @event_enquiry.message, :style => 'margin-top: 0' %>
      </td>
    </tr>
  </table>
</div>
